.calendar {
    margin-left: 25px;
    margin-top: 25px;
    background-color: #f9f9f9;
    padding: 25px;
    font-size: 18px;
    display: flex;
}
.right {
    margin-left: 20px;
}
.year {
    color: #333;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

.button {
    margin-bottom: 15px;
}
.calendar button {
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

.currentDay {
    color: crimson;
    font-weight: 600;
    border-radius: 50%;
    padding: 5px;
}

.day {
    cursor: pointer
}